div.box {
  color: #ffff00;
}
.load-status,
.load-status2 {
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  margin: 20px 0;
}
.load-status {
  background-image: url('images/712-1.gif');
}
.load-status2 {
  background-image: url('images/712.gif');
}
.loader {
  animation: rotade 1s steps(12) infinite;
  -webkit-animation: rotade 1s steps(12) infinite;
  -moz-animation: rotade 1s steps(12) infinite;
  -ms-animation: rotade 1s steps(12) infinite;
  -o-animation: rotade 1s steps(12) infinite;
}
.loader2 {
  animation: play 1s steps(12) infinite;
  -webkit-animation: play 1s steps(12) infinite;
  -moz-animation: play 1s steps(12) infinite;
  -ms-animation: play 1s steps(12) infinite;
  -o-animation: play 1s steps(12) infinite;
}
@keyframes play {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -768px 0;
  }
}
@-moz-keyframes play {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -768px 0;
  }
}
@-webkit-keyframes play {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -768px 0;
  }
}
@-ms-keyframes play {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -768px 0;
  }
}
@-o-keyframes play {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -768px 0;
  }
}
@keyframes rotade {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotade {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotade {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotade {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotade {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
